@import './font.css';
@import './reset.css';
@import './common.css';

#header{
 
}
#header .inner{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  mix-blend-mode: difference;
}

#header .logo a{
  display: flex;
}

#header .inner.hide{
  transform: translateY(-100%);
}


#gnb .list{
  display: flex;
  gap: 16px;
  height: 100%;
  color: #fff;
}
#gnb .list .item{
}
#gnb .list .item > *{
  display: flex;
  align-items: center;
  height: 100%;
}
#gnb .list .text-wrap{
  display: grid;
  height: 1.3em;
  letter-spacing: -.005em;
  line-height: 130%;
  text-transform: uppercase;
  overflow: hidden;
}
#gnb .list .text-wrap .text{
  transition: .5s ease-in-out;
}
#gnb .list .text-wrap:hover .text{
  transform: translateY(-100%);
}

.menu-con {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: .5s;
  z-index: 11;
  overflow: hidden;
  background: var(--black);
  color: var(--white);
}

.menu-con.active {
  height: 0;
}

.menu-con .menu-inner {
  position: sticky;
  top: 0;left: 0;
  display: flex;
  height: 100vh;
  width: 100%;
}

.menu-con .menu-inner .nav-area{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66.66666667%;
} 
.menu-con .menu-inner .list-wrap{
  width: 100%;
  padding: 0 32px;
  text-align: center;
} 
.menu-con .menu-inner .item{} 
.menu-con .menu-inner .sns-wrap{
  bottom: 16px;
}
.menu-con .menu-inner .sns-wrap .link{
  transition: .5s;
 }
.menu-con .list-wrap .link{
  display: block;
  font-size: 100px;
  line-height: 120%;
  transition: .4s;
  font-family: 'sp';
}
.menu-con .list-wrap .link:hover{
  background: var(--white);
  color: var(--black);
}
.menu-con .menu-inner .side-area{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: calc((100% - 66.66666667%) / 2);
  padding: 0 32px;
}

.side-area.right::before,
.side-area.left::after {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid var(--gray01);
  content: "";
}
.side-area.right::before{
  left: 0;
}
.side-area.left::after{
  right: 0;
}
 .menu-con .side-area .img-wrap{
  position: relative;
  padding-bottom:100%;
  margin-bottom: 16px;
} 
.menu-con .side-area .img-wrap img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.menu-con .side-area .copy-wrap{
  margin-bottom: 16px;
  text-align: center;
}



#footer{
  color: var(--white);
}

#footer .content-top{
  display: flex;
  height: 550px;
  background: #000;
}

#footer .col{
  padding: 48px 32px;
}
#footer .col.left{
  flex-direction: column;
}
#footer .col.left::after{
  opacity: .5;
}

#footer .addr{
 margin-top: auto;
}

#footer .col.right .list-wrap{
  flex: 1;
}
#footer .col.right .tit-box{
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: .5;
  margin-bottom: 16px;
}

#footer .link,
.menu-con .info-area .link:hover{
  transition: opacity .5s ;
}

#footer .col.right .info-wrap{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 48px;
}
#footer .content-bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 100vh;
}
#footer .content-bottom::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;right: 0;
  width: 100%;height: 1px;
  background-color: var(--gray04);
  opacity: .5;
}
#footer .content-bottom .video-area{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#footer .content-bottom video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#footer .content-bottom .svg-area{
  height: auto;
}
#footer .content-bottom svg{
  height: 100%;
}
#footer .content-bottom .info-area{
  margin-top: auto;
}
#footer .content-bottom .info-area{
  display: flex;
  justify-content: space-between;
  padding: 0 32px 16px 32px;
}

.sns-wrap{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 16px;
}
#footer .link:hover,
.sns-wrap .link:hover{
  opacity: .5;
}

